target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.idea
.project
.settings/
.springBeans
.factorypath
.apt_generated/
*.iml
sonar-project.properties